<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banned</title>
    <style>
        a:link, a:visited, a:active {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }

        a:hover {
          color: blue;
          background-color: transparent;
          font-weight: bold;
          text-decoration: underline;
        }
    </style>
</head>
<body>
<h1 style="color:red">U r banned till <span style="font-size:20px"><i>{{end_time}}</i></span></h1>

<a href="/logout/">Logout</a>
</body>
</html>