<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        a:link, a:visited, a:active {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }

        a:hover {
          color: blue;
          background-color: transparent;
          font-weight: bold;
          text-decoration: underline;
        }
    </style>
</head>
    {% if not username is None %}
        <h3 style="color:blue">You are: <i>{{username}}</i></h3>
    {% endif %}
    {% if not chum is None %}
        <h3 style="margin-top:-15px">Chat with: <i>{{chum}}</i></h3>
    {% endif %}
<ul>
    {% if chat|length == 0%}
        <h4>No messages here</h4>
    {% endif %}
    {% for owner, message, time in chat %}
    <li>
        {% if owner == username %}
            <b style="color:blue"><i>{{owner}}:</i></b><br />
        {% else %}
            <b><i>{{owner}}:</i></b><br />
        {% endif %}
        {{message}}<br />
        <i style="font-size:9pt">{{time}}</i>
    </li>
    <br />
    {% endfor %}
    <br />
    {% if timeout is not None %}
    <h4 style="color:orange">You are in timeout till <span style="font-size:13px"><i>{{timeout}}</i></span></h4>
    {% endif %}
    <form method="post" action="/{{username}}/chat-with/{{chum}}/">
        <label for="fmessage"><b><i>Your message:</i></b></label><br />
        <input type="text" id="fmessage" name="message"><br />
        <input type="submit" value="Send">
    </form>
</ul>
<br />
<a href="/profile/user/{{username}}/">Your Profile</a><br />
<a href="/user_list/">User list</a><br />
<a href="/logout/">Logout</a>
</body>
</html>